@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1:'Sriracha';
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: rgb(228, 204, 176);
}
header{
    font-size: 50px;
    color: rgb(255, 255, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}
header>p{
    font-size: 30px;
}
h1{
    font-variant: small-caps;

}
section{
    font-family:var(--fonte1);
    padding-top: 10vh;
    padding-left: 20px;
    padding-bottom: 10vh;
}
section>p{
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.233);
}
section.bleach{
    background-attachment: fixed;
}
.video{
    text-align: center;
    background-color: white;
    padding-top: 10vh;
    padding-left: 20px;
    padding-bottom: 10vh;
}
.bleach{
    color: white;
    background-color:#A6A6A6;
}
section#img01{
    background-image: url('../imagens/bleach.jpg');
    background-position: center;
}
.nevermind{
    background-color: #0378A6;
}
section#img02{
    background-image: url('../imagens/nevermind.jpg');
    background-repeat: no-repeat;

}
.inutero{
    background-color:  #F2E9BB;
}
section#img03{
    background-image: url('../imagens/inUtero.jpg');

}
.unpluggedmtv{
    background-color:#F2A81D;
}
section#img04{
    background-image: url('../imagens/unpluggedMTV.jpg');

}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(255,255,0);
    font-style: italic;
    font-size: 17px;
}
footer{
    text-align: center;
    color: rgb(255,255,0);
    padding: 25px;
    background-color: black;
}
