@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1:'Sriracha';
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: rgb(228, 204, 176);
}
header{
    font-size: 50px;
    color: rgb(255, 255, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}
header>p{
    font-size: 30px;
}
h1{
    font-variant: small-caps;

}
section{
    font-family:var(--fonte1);
    padding-top: 10vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10vh;
}
section>p{
    color: white;
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.555);
}
section#primeiro{
    background-color: #595959;
}
section#never{
    background-color: #0367A6;
}
section#utero{
    background-color: #8C4B45;
}
section#acustico{
    background-color: #8C1B39;
}
.bleach{
    color: white;
    background-color:#A6A6A6;
    background-attachment: fixed;
    background-size: cover;
}
section#img01{
    background-image: url('../imagens/bleach.jpg');
    background-position: center;
    
}
.nevermind{
    background-color: #0378A6;
    background-attachment: fixed;
    background-size: cover;
}
section#img02{
    background-image: url('../imagens/nevermind.jpg');
    background-position: top center;

}
.inutero{
    background-color:  #F2E9BB;
    background-attachment: fixed;
    background-size: cover;
}
section#img03{
    background-image: url('../imagens/inUtero.jpg');
    background-position: center;

}
.unpluggedmtv{
    background-color:#F2A81D;
    background-attachment: fixed;
    background-size: cover;
}
section#img04{
    background-image: url('../imagens/unpluggedMTV.jpg');
    background-position: center;

}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(255,255,0);
    font-style: italic;
    font-size: 17px;
}
footer{
    text-align: center;
    color: rgb(255,255,0);
    padding: 25px;
    background-color: black;
}
